@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800,800i|Vollkorn:400,400i,600,600i,700,700i&display=swap');

.container {
    padding: 5%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Vollkorn', serif;
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    border: 2px solid black;
    padding: 12px 10px;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-right: 20px;
    color: black;
}

a:last-child {
    margin-right: 0;
}

a:visited {
    color: black;
}

.content {
    width: 50%;
    margin-top: 20px;
    padding: 0 12px 12px 0;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}


/* breakpoint mobile */

@media (max-width: 500px) {

    .container {
        height: 100%;
    }

    h1 {
        font-size: 72px;
    }

    .content {
        width: 100%;
    }

}